@model IEnumerable<Kthproject.Models.CourseDataUsageModel>

@{
    ViewData["Title"] = "StudentPortal";
}

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="~/css/DevopsStyleSheet.css" rel="stylesheet" />
</head>
<body>

    <div class="header">
        <h2 class="Zhv0Vb" aria-label="Statistics and news">Student Portal</h2>
    </div>

    <div class="row">
        <div class="leftcolumn">
            <div class="card">
                <h2>School of Engineering Sciences in Chemistry, Biotechnology and Health</h2>
                <div class="card">
                    <h4>Master's programme in Chemical Engineering for Energy and Environment</h4>
                    <h5>
                        The master’s programme in Chemical Engineering for Energy and Environment offer students a comprehensive education in the diverse field of chemical engineering with an emphasis on sustainability. Graduates will possess the engineering tools necessary to meet the future challenge of how best to use the available energy and finite natural resources.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterChemical Engineering.jpg" style="width:250px;height:150px;" /><img src="~/images/kth1.jpg" style="width:250px;height:150px;" /><img src="~/images/kth2.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/energyandenvironment">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
                <div class="card">
                    <h4>Master's programme in Industrial and Environmental Biotechnology</h4>
                    <h5>
                        The master’s programme in Industrial and Environmental Biotechnology aims to provide deep understanding of how to design and operate state-of-the-art life science based processes, with respect to product quality, sustainability and finance. The goal is to acquire competencies and skills to use cells and cell components such as enzymes to produce commodities such as food, biofuel and biomaterials, for the development of a sustainable society.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterIndustrialEnvironmental.jpg" style="width:250px;height:150px;" /> <img src="~/images/kth3.jpg" style="width:250px;height:150px;" /><img src="~/images/kth4.png" style="width:250px;height:150px;" /></div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/industrialbio">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
            </div>

            <div class="card">
                <h2>School of Architecture and the Built Environment</h2>
                <div class="card">
                    <h4>Master's programme in Architectural Lighting Design</h4>
                    <h5>
                        There is an increasing understanding of the importance of good lighting design in urban areas, buildings and interiors. Light is fundamental to architecture and essential for human well-being. Its quality affects human behaviour, comfort, health, efficiency, safety and security. The programme is based on a new approach to light and light planning – a combination of visual, physical and biological-based experience and knowledge applied to design, technology and health.

                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterArchitecturalLightingDesign.png" style="width:250px;height:150px;" /><img src="~/images/kth5.jpg" style="width:250px;height:150px;" /><img src="~/images/kth6.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/architectural-lighting-design">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
                <div class="card">
                    <h4>Master's programme in Architecture</h4>
                    <h5>
                        The master’s programme in Architecture consists of two years of full-time study. The students have the opportunity to choose between a wide range of studio themes that addresses contemporary architectural issues. There is a possibility to develop everything from large scale urban strategies to full scale manufacturing processes. The students will also participate in seminar courses related to specific topics related to ongoing research at the KTH.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterprogrammeArchitecture.jpg" style="width:250px;height:150px;" /><img src="~/images/kth7.jpg" style="width:250px;height:150px;" /><img src="~/images/kth8.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/architecture">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
            </div>

            <div class="card">
                <h2>School of Electrical Engineering and Computer Science</h2>
                <div class="card">
                    <h4>Master's programme in Software Engineering of Distributed Systems</h4>
                    <h5>
                        Emerging computer networks and communication technology provide a new technological foundation for designing software systems. The systems become distributed, reconfigurable and adaptive, and their components employ a high degree of autonomy. This is an exciting and rapidly evolving field in which there is a continuous demand for qualified software engineers on the world labour market.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterSoftwareEngineering.jpg" style="width:250px;height:150px;" /><img src="~/images/kth11.jpg" style="width:250px;height:150px;" /><img src="~/images/kth9.jpg" style="width:250px;height:150px;" /> </div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/software-engineering-distributed-systems">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
                <div class="card">
                    <h4>Master's programme in Systems, Control and Robotics</h4>
                    <h5>
                        The master’s programme in Systems, Control and Robotics equips students with the skills necessary to analyse, design and control complex technical systems such as robots, autonomous vehicles or any other system that has a significant autonomous capability. These systems are important today and will become even more important as new technology makes its way into our workplaces, homes and shared public spaces.
                    </h5>
                    <div class="fakeimg" style="height:200px;"><img src="~/images/MasterprogrammeControlRobotics.jpg" style="width:250px;height:150px;" /> <img src="~/images/kth12.jpg" style="width:250px;height:150px;" /><img src="~/images/kth10.jpg" style="width:250px;height:150px;" /></div>
                    <a class="btn btn-default" href="http://kth.instructure.com/courses/">
                        Current Student: Click Here to Enter
                    </a><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        Covid Lockdown? Zoom
                    </a><a class="btn btn-default" href="https://www.kth.se/en/studies/master/systems-control-robotics">
                        Future Student: Read More
                    </a></a><a class="btn btn-default" href="https://www.kth.se/en/om/kontakt">
                        Contact KTH
                    </a>
                </div>
            </div>



        </div>
        <div class="rightcolumn">
            <div class="card">
                <h2>Zoom for COVID-19</h2>
                <div class="fakeimg" style="height:100px;"><img src="~/images/Kthzoom.jpg" style="width:200px;height:70px;" /></div>
                <p>Zoom is KTH's official distance learning platform for rmote lecture, exam and meeting.</p><a class="btn btn-default" href="https://kth-se.zoom.us/join">
                        KTH Zoom Platform
                    </a>
            </div>
            <div class="card">
                <h3>Popular Post</h3>
                <div class="fakeimg">
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/master">
                        Master's programmes
                    </a><br />
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/exchange">
                        KTH Exchange studies
                    </a>
                    <br />
                    <a class="btn btn-default" href="https://www.kth.se/en/studies/bachelor">
                        Bachelor's programme
                    </a><br />
                        <a class="btn btn-default" href="https://www.kth.se/en/studies/phd">
                            Doctoral studies (PhD)
                        </a>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/k8vuUJ7hVLY" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/JCw-B4Ig3DQ" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div><br>
                <div class="fakeimg">
                    <iframe width="200" height="157" src="https://www.youtube.com/embed/KXkBZCe699A" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                </div>
            </div>
            <div class="card">
                <h3>Follow Us</h3>
                <p><a href="https://dev.azure.com/KthProject2020/KthProject">Our Azure DevOps Project</a></p>
            </div>
        </div>
    </div>

</body>


@*<p>
        <a asp-action="Create">Create New</a>
    </p>
    <table class="table">
        <thead>
            <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Id)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Name)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Description)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Email)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.PhotoPath)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.LinkToCanvus)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Department)
                    </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
    @foreach (var item in Model) {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PhotoPath)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LinkToCanvus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Department)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
                    @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
                </td>
            </tr>
    }
        </tbody>
    </table>*@
